[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.4.2"
numpy = "==1.22.3"
mypy = "==0.942"
mysql-connector-python = "==8.0.23"
toml = "==0.10.2"
types-toml = "==0.10.7"
types-pyyaml = "==6.0.7"
pyyaml = "==6.0"

[dev-packages]
flake8 = "==4.0.1"

[requires]
python_version = "3.10"
